.barra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  justify-content: center;
  background-color: #f0141e;
  color: #fff;
  border: 12px;
  margin-bottom: 20px;
}
