.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.formFields {
  margin-bottom: 30px;
}

.edit-title {
  margin-bottom: 50px;
}

.input-nome {
  margin-bottom: 30px;
  min-width: 600px;
}

.input-description {
  margin-bottom: 30px;
  min-width: 600px;
}

.previousName {
  color: #fff;
}
